body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #4F4F4F;
}

.post {
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.post h2 {
    margin-top: 0;
}

.post p {
    margin: 10px 0;
}

.form-container {
    background: white;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
input, textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #388e3c;
}

.add-btn {
    display: inline-block;
    padding: 8px 12px;
    background: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}
.add-btn:hover {
    background: #0361c5;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-buttons {
    display: flex;
    flex-direction: row;
}

.btn {
    text-decoration: none;
    color: white;
    padding: 6px 10px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.emoji {
    background-color: white;
}

.emoji:hover {
    background-color: white;
    transform: scale(1.5);
}